.chessboard-tile {
  display: grid;
  place-content: center;
  width: 100px;
  height: 100px;
  user-select: none;
}
.black-tile {
  background-color: #769656;
}
.white-tile {
  background-color: #eeeed2;
}
.higlight-tile:not(.chess-piece_tile)::before {
  content: " ";
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}
.higlight-tile.chess-piece_tile::before {
  content: " ";
  position: absolute;
  width: 84px;
  height: 84px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.chess-piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}
.chess-piece:hover {
  cursor: grab;
}
.chess-piece:active {
  cursor: grabbing;
}
