.Chessboard {
  display: flex;
}
.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 32px;
  left: 32px;
  z-index: 2;
}
.hidden {
  display: none;
}
.modal-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 160px;
  width: 800px;
  background-color: rgba(10, 10, 10, 0.7);
  user-select: none;
}
.checkmate-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  font-size: 32px;
  color: #eeeed2;
}
.rematch-button {
  font-size: 22px;
  width: fit-content;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  letter-spacing: 0.11rem;
  background: #3b6d08;
  color: #eeeed2;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 4px 5px 12px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 4px 5px 12px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 4px 5px 12px 4px;
}
.promotion-piece {
  height: 130px;
  padding: 10px;
  user-select: none;
}
.promotion-piece:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15%;
}
.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: #eeeed2;
  width: 800px;
  height: 800px;
  border-radius: 5px;
  overflow: hidden;
}
.vertical,
.horizontal {
  font-size: 1.3em;
  font-weight: 600;
  color: #ffffff80;
}
.vertical {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  height: 800px;
  width: 32px;
  align-items: center;
}
.horizontal {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 32px;
  align-items: center;
}
.axis_items {
  user-select: none;
  text-align: center;
}
