.Chessboard {
  display: flex;
}
.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: #eeeed2;
  width: 52rem;
  height: 52rem;
  border-radius: 5px;
  overflow: hidden;
}
.vertical,
.horizontal {
  font-size: 1.3em;
  font-weight: 600;
  color: hsla(0, 0%, 100%, 0.5);
}
.vertical {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  height: 52rem;
  width: 2rem;
  align-items: center;
}
.horizontal {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 2rem;
  align-items: center;
}
